Options -Indexes

# Liga o Rewrite
RewriteEngine On

# Bloquear acesso ao .env
<Files ".env">
    Require all denied
</Files>


# REGRA DE REWRITE TUDO PARA INDEX
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?url=$1 [QSA]
