* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

form .field{
    display: flex;
    flex-direction: column;
    position: relative;
}

form .field i{
    position: absolute;
    right: 15px;
    top: 60%;
    /* transform: translateY(-1%); */
    color: #ccc;
    cursor: pointer;
}
form .field i:hover{
    color: black;
}

.custom-card {
    border-radius: 15px;
    border: none;
    margin-top: 40px;
}


.custom-card:hover {
    transform: translateY(-5px);
}


.text-primary {
    color: #0d6efd !important; 
    font-weight: 700;
}


.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}

hr {
    opacity: 0.1;
}

/* Ajusta o padding no container para telas muito pequenas */
@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
}