* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

form .field{
    display: flex;
    flex-direction: column;
    position: relative;
}

form .field i{
    position: absolute;
    right: 15px;
    top: 60%;
    /* transform: translateY(-1%); */
    color: #ccc;
    cursor: pointer;
}
form .field i:hover{
    color: black;
}

.custom-card {
    border-radius: 15px;
    border: none;
    margin-top: 40px;
}


.custom-card:hover {
    transform: translateY(-5px);
}


.text-primary {
    color: #0d6efd !important; 
    font-weight: 700;
}


.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}

hr {
    opacity: 0.1;
}

/* Ajusta o padding no container para telas muito pequenas */
@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
}

/*================================*/
header{
    background-color: #ece9e9;
    width: 100%;
    height: 50px;
}
.content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.img-foto{
    margin-right: 70%;
}

.img-foto img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.logo-chat{
    width: 16%;
}

.logo-chat h1{
    font-size: 20px;
}

.details{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    transform: translateX(-900px);
}

.details span{ 
    margin-right: 10px;
    font-size: 18px;
}

.details p{
    margin-right: 10px;
    transform: translateY(10px);
    color: #39ec39;
    font-size: 14px;
}

.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

.chat-view{
    width: 800px;
    height: 100vh;
    background-color: #f7f4f4;
    transform: translateX(-11px);
}

.chat-view .conversation{
    display: flex;
   align-items: center;
   justify-content: space-between;
}

.contact-msg .status{
    color: #18eb18;
    margin-left: 80%;
}

.conversation .msg-received{
    width: 45%;
    background-color: #225179;
    color: #fff;
    border-radius: 5px 0 15px 5px;
    margin-left: 5px;
}

.conversation .msg-sent{
    width: 45%;
    background-color: #417db3;
    color: #fff;
    border-radius: 5px 15px 0 5px;
    margin-right: 5px;
    transform: translateY(50px);
}

.contact-list{
    width: 350px;
    height: 100vh;
    background-color: #ece9e9;
    transform: translateX(11px);
}

.contact-list .search{
    width: 100%;
}
.contact-list .search input {
    width: 90%;
    margin-left: 15px;
}
.contact-list .search label{
    margin-left: 15px;
}


.contact-list .friends{
    width: 90%;
    background-color: #3b6097;
    margin-top: 3px;
    margin-left: 15px;
    border-radius: 10px;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-list .friends img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #0bee0b;
}

.contact-list .friends .status{
    font-size: 12px;
    margin-right: 5px;
    color: #18eb18;
}
/*=============================================*/



